{{yield}}
<nav class="navbar navbar-default navbar-static">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      {{#bs-nav-item}}
        {{#link-to "index" class="navbar-brand"}}Wax Screws{{/link-to}}
      {{/bs-nav-item}}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{#bs-dropdown tagName="li"}}
        {{#bs-dropdown-toggle}}Projects <span class="caret"></span>{{/bs-dropdown-toggle}}
        {{#bs-dropdown-menu}}
          <li>{{#link-to "brand-genie"}}Brand Genie{{/link-to}}</li>
          <li>{{#link-to "about"}}About{{/link-to}}</li>
        {{/bs-dropdown-menu}}
      {{/bs-dropdown}}

      {{#bs-nav-item}}
        {{#link-to "about"}}About Me{{/link-to}}
      {{/bs-nav-item}}

      {{#bs-nav-item}}
       {{#link-to "contact"}}Contact{{/link-to}}
      {{/bs-nav-item}}
    </ul>
  </div>
</nav>