body {
  padding-top: 2em;
  background-image: url("/images/bg.jpg");
  color: white;
}
.navbar-default  {
  background-color: transparent;
  border-style: none;
  font-size: 14px;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  background-color: rgba(114,169,143, 0.25);
  border-radius: 6px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: rgba(114,169,143, 0.25);
  border-radius: 6px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(26, 177, 229, 0.25);
  border-radius: 6px;
}

.navbar-nav > li > .dropdown-menu {
  color: red;
  background-color: rgba(114,169,143, 0.25);
}
.dropdown-menu > li > a {
  color: white;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}

.row-centered {
  text-align: center;
}
.intro-content {
  padding: 50px 0;
  position: relative;
}

.contact-icons-links {
  color: black;
}