@import "bootstrap";

/*Color Variables*/
$blue-pill: rgba(26, 177, 229, 0.25);
$green-pill: rgba(114,169,143, 0.25);
$tranparent-white-background: rgba(255, 255, 255, 0.25);
$white-smoke: #F5F5F5;

body {
  padding-top: 2em;
  background-image: url("/images/binding_dark.png");
  background-attachment: fixed;
  color: white;
}

p {
  font-size: 18px
}

img {
  width: 100%;
}

.navbar-default  {
  height: 3em;
  padding-top: 10px;
  border-radius: 0px;
  background-color: $tranparent-white-background;
  border-style: none;
  font-size: 24px;
  font-weight: bold;
  .navbar-nav {
    li {
      a {
        color: $white-smoke;
        &:hover {
          color: $white-smoke;
          background-color: $green-pill;
          border-radius: 6px;
        }
      }
      .dropdown-menu {
        background-color: $blue-pill;
        border-radius: 6px;
        font-size: 16px;
        li {
          a {
            color: $white-smoke;
            &:hover, &:focus {
              color: $white-smoke;
              background-color: $tranparent-white-background;
            }
          }
        }
      }
    }
  }
  .navbar-brand {
  font-size: 32px;
  color: $white-smoke;
  }
  .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: $white-smoke;
    background-color: $green-pill;
    border-radius: 6px;
  }
  .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: $white-smoke;
    background-color: $blue-pill;
    border-radius: 6px;
  }

}

.row-centered {
  text-align: center;
}
.intro-content {
  padding: 50px 0;
  position: relative;
  h1 {
    color: $white-smoke;
  }
}
.contact-icons-links {
  color: $white-smoke;
  strong {
    font-size: 20px;
  }
}
.flex {
  display: flex;
  align-items: top;
  overflow: hidden;
}
.brandgenie {
  height: 100%;
}
.portfolio-title-header {
  padding-top: 28px;
  a {
    text-decoration: none !important;
    color: $white-smoke;
  }
}