{{outlet}} 
<h2>My Story.</h2>
<div class="row">

  <div class="col-xs-12 col-sm-6 col-md-6">
    <h3>The <strong>past</strong>.</h3>
    <p>
      I spent years in the metal industry after finishing high school, working with my hands and building things from scratch. Not to dissimilar to working in web development. I could take a set of blueprints with specifications and turn it into something complete. Honestly, I got a lot of satisfaction out of that. I could start a day with a task, and end it by looking back and touching what I accomplished that day.
    </p>
    <p>
      However, I always felt a connection to technology that I never got in the metal industry. I had a big envy for people who could build a program or a website. In my childhood I got a taste of that by working for a free web hosting company at the age of fourteen. Mostly technical support with a bit of PHP mixed in.
    </p>
    <p>I wanted that connection back.</p>
    <p>
      So, I made a pact with myself that when the opportunity arrived, I would enroll myself in a code school to pursue my dream. Well, that opportunity came one day in the spring of 2015 when I enrolled at Epicodus code school located in Portland, OR. I don’t regret it and I look forward to what the future brings me. Every day is a new challenge and I welcome every bit of it.
    </p>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <h3>The <strong>present</strong>.</h3>
    <p>
      Currently, I am freelancing for a local company in the Portland area. Writing tutorials and doing QA for a major telecommunications company for some new technologies they have in the works.
    </p>
    <p>
      When I'm not working, I find myself continuing to learn new technologies. And when I'm not learning I attend tech related meet ups related to things that interest me or might interest me. I do so in an effort to keep my mind as open and free as possible while my prejudices are few and far between. I believe that open mindedness makes you a really strong developer.
    </p>
    <p>
      When I can find time to unglue myself from the computer, I often spend time with my german shepherd, Kaya. You can find us at the park, on trails, or at the beach. I love teaching her new tricks and seeing her grow up.
    </p>
  </div>

</div>