{{outlet}}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div>
          <h1>You can reach me these three ways.</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row row-centered contact-icons">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <a class="contact-icons-links" href="mailto:tony.navarro@gmail.com?Subject=Inquiry about services." target="_top">{{fa-icon "envelope" size="5x"}}</a>
    <br>
    <a class="contact-icons-links" href="mailto:tony.navarro@gmail.com?Subject=Inquiry about services." target="_top"><strong>Email</strong></a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <a class="contact-icons-links" href="https://github.com/antonio97b">{{fa-icon "github" size="5x"}}</a>
    <br>
    <a class="contact-icons-links" href="https://github.com/antonio97b"><strong>Github</strong></a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <a class="contact-icons-links" href="https://www.linkedin.com/in/tonynavarro87">{{fa-icon "linkedin" size="5x"}}</a>
    <br>
    <a class="contact-icons-links" href="https://www.linkedin.com/in/tonynavarro87"><strong>LinkedIn</strong></a>
  </div>
</div>