<div class="row">
  <div class="col-lg-12 index-page">
    <p>
      My name is Antonio Navarro. I am a web developer and I've been working in the tech industry for about a year in some form or another. Whether it’s developing, performing QA and perhaps even a bit of work in technical writing. I always make an effort to learn something new every day. I believe it is integral to staying on top in the industry. This industry is fast paced and that’s what keeps me excited about it. I love seeing the work I do out in the wild. It pleases me to be able to point to something and say I had a hand in it.
    </p>
  </div>
</div>